@charset "UTF-8";
/* light coloured pie chart (@scheme color) */

body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #9BBFE0;
	text-align: center;
	letter-spacing: 1px;
	font-family: "Lucida Bright", Georgia, serif;
	font-size: 16px;
	color: black;
}