@charset "UTF-8";
/* light coloured pie chart (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #9BBFE0;
	text-align: center;
	letter-spacing: 1px;
	font-family: "Lucida Bright", Georgia, serif;
	font-size: 16px;
	color: black;
}


/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: #E8A09A;
}

.fas {
	transform: scale(2, 1);
	font-size: 1.2em;
}

.hidden {
	display: none;
}

.task-text {
	padding: 0.5vh 15vw;
}

.visible {
	display: block;
}

#task {
	position: absolute;
	z-index: 1;
	background-color: #FBE29F;
}
#task-extra {
	text-decoration: underline;
}

#task-head {
	text-decoration: underline;
}


/* MAIN */
input {
	display: block;
	margin: 0 auto 2vh;
}

main {
	padding: 10vh 0;
}

#form-literal {
	border: none;
	border-bottom: 2px #FBE29F solid;
	min-width: 60%;
	padding: 1vh 0;
	background-color: transparent;
	text-align: center;
	font-family: "Lucida Bright", Georgia, serif;
	font-size: 1em;
	color: black;
}

#form-literal:focus {
	font-weight: bold;
}

#form-literal::placeholder {
	font-style: italic;
}

#form-submit {
	border: 2px #E8A09A solid;
	border-radius: 5px;
	padding: 1vh 5vw;
	background-color: #C6D68F;
	font-family: "Lucida Bright", Georgia, serif;
	font-size: 1em;
}

#form-submit:active {
	border-color: #FBE29F;
	background-color: #9BBFE0;
}



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 1vh 0;
	background-color: #FBE29F;
}

.more-link {
	color: black;
}

.more-link:active {
	color: red !important;
}

.more-link:hover {
	color: blue;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1vh 0 0;
	font-size: 1.2em;
}